<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.tw.jtc.dao.InvoiceDao">

    <resultMap id="invoice" type="uk.tw.jtc.model.Invoice">
        <result property="invoiceId" jdbcType="VARCHAR" column="invoice_id" />
        <result property="customerId" jdbcType="VARCHAR" column="customer_id" />
        <result property="pay" jdbcType="DECIMAL" column="pay" />
        <result property="phoneUsage" jdbcType="INTEGER" column="phone_usage" />
        <result property="smsUsage" jdbcType="INTEGER" column="sms_usage" />
        <result property="createdAt" jdbcType="TIMESTAMP" column="create_at" />

    </resultMap>

    <insert id="createInvoice">
        insert into jtc_invoice (invoice_id, customer_id,pay,phone_usage,sms_usage,create_at)
        values
        <foreach collection="invoices" item="invoice" separator=",">
            (
            #{invoice.invoiceId},
            #{invoice.customerId},
            #{invoice.pay},
            #{invoice.phoneUsage},
            #{invoice.smsUsage},
            #{invoice.createdAt}
            )
        </foreach>
    </insert>

    <insert id="createNewInvoice">
        insert into jtc_invoice (invoice_id, customer_id,pay,phone_usage,sms_usage,create_at)
        values
            (
            #{invoice.invoiceId},
            #{invoice.customerId},
            #{invoice.pay},
            #{invoice.phoneUsage},
            #{invoice.smsUsage},
            #{invoice.createdAt}
            )
    </insert>



    <select id="getActiveInvoice" resultMap="invoice">
        select * from jtc_invoice where customer_id = #{customerId}
    </select>
    <select id="getInvoiceByInvoiceIdAndCustomerId" resultMap="invoice">
        select * from jtc_invoice where customer_id = #{customerId} and invoice_id = #{invoiceId}
    </select>



</mapper>

